# Hapi.js
/node_modules/
/.serverless/
/.build/
/.cache/
.env
.env.*
yarn.lock
package-lock.json

# Next.js
/.next/
/out/
/node_modules/
/.vercel/
/.swc/
/public/static/
/public/build/
/public/mix-manifest.json
/public/hot
/public/test-results/

# Logs & System Files
/storage/*.log
/storage/framework/cache
/storage/framework/sessions
/storage/framework/views
/bootstrap/cache/

# Database
/database/*.sqlite
/database/*.sqlite3
/database/database.sqlite
/database/database.sqlite3

# Composer & npm
composer.lock

# IDE & System Files
*.DS_Store
*.vscode/
*.idea/
*.phpstorm.meta.php
nbproject/
Thumbs.db