# Python cache
__pycache__/
*.py[cod]

# Virtual environment/
env/
Python/

# IDE/editor config
.vscode/
.idea/

# System files
.DS_Store
Thumbs.db

# Output files
*.jpg
*.png
*.jpeg
photo_detected.jpg
detected_result.png

# Weights
*.pt


.Python